body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header{
    background-color: aqua;
}

nav{
    background-color: rgb(230, 198, 156);
}

main{
    background-color: burlywood;
    font-size: 115%;
}

footer{
    background-color: rgb(193, 198, 249);
}

li{
    display: inline-block;
    width: 25%;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

p{
    line-height: normal;
}